@import '../../styles/variables.scss';


.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS';
}

.container {
    transition: 0.4s ease-in-out 0s;
    display: inline-block;
    position: relative;
    width: 320px;
    height: 480px;
    box-sizing: border-box;
    background-color: $notActive;
    clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
    border-radius: 10px;
}

.wrapper{
    z-index: 5;
    position: absolute;
    top: 5px; /* equal to border thickness */
    left: 5px; /* equal to border thickness */
    width: 310px; /* container height - (border thickness * 2) */
    height: 470px; /* container height - (border thickness * 2) */
    background-color: white;
    clip-path: polygon(43px 0, 100% 0, 100% 100%, 0 100%, 0 43px);
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
}

.imgWrapper {
    position: absolute;
    overflow: hidden;
    top: 42%;
    left: -10%;
    img{
        user-select: none;
        width: 110%;
        object-fit: cover;
    }
}

.ball{
    transition: 0.4s ease-in-out 0s;
    position: absolute;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: $notActive;
    bottom: 12px;
    right: 12px;
}

.weightWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.weight{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 40px;
    font-weight: 400;
    color: white;
    line-height: 36px;
}

.kilo{
    color: white;
    font-size: 21px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #666666;
    margin-top: 20px;
    text-align: left;
    margin-left: 45px;
}

.title{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #666666;
}
.name{
    font-size: 48px;
    font-weight: 700;
    color: black;
    line-height: 1.2;
}
.taste{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: black;
    margin-bottom: 16px;
}
.portion{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #666666;
}
.gift{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #666666;

}
.count{
    font-weight: 700;
}

.underText{
    user-select: none;
    margin-top: 8px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-shadow: 0px 1px 0px #000000;
    color: #ffffff;
    span{
        line-height: 20px;
        cursor: pointer;
        font-weight: 700;
        color: $notActive;
        text-decoration: 1px underline dashed;
        text-underline-offset: 2px;
    }
}
