@import './styles/variables.scss';

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 46px;   
    padding: 0 20px;
    max-width: 100vw; 
    max-height: 100vh;
}
.header{
    font-family: 'Exo 2';
    font-size: 36px;
    line-height: 1.2;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 22px;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}